<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PhotoApp" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> <%# Adicionado: Meta tag para Content Security Policy, boa prática no Rails 6+ %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> <%# Removido media: "all" %>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">PhotoApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <%# 'me-auto' empurra os itens seguintes para a direita %>
            <li class="nav-item">
              <%= link_to "Link1", "/path1", class: "nav-link"  %>
            </li>
            <li class="nav-item">
              <%= link_to "Link2", "/path2", class: "nav-link"  %>
            </li>
            <li class="nav-item">
              <%= link_to "Link3", "/path3", class: "nav-link"  %>
            </li>
          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0"> <%# Estes itens ficarão à direita %>
            <% if current_user %>
              <li class="nav-item me-2"> <%# Use 'me-2' para margem à direita %>
                <%= link_to (truncate(current_user.email, length: 25)).html_safe,
                edit_user_registration_path, title: 'Edit Profile', class: "nav-link" %> <%# Adicione nav-link %>
              </li>
              <li class="nav-item">
                <%= button_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger', title: 'Logout') %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <p>&copy; Company 2025</p>
      </footer>
    </div>
  </body>
</html>